:host {

  .container {
    display: flex;
    justify-content:space-around;
    align-items:center;
    padding: 20px;

    mat-card {
      .mat-card-content {
        margin: 0 16px;
      }
      margin-top: 1em;
    }

    .divider {
      width: 100%;
      text-align: center;
      padding: .5em 0;
    }

    .register-form, .login-form {
      display: flex;
      flex-direction: column;
    }
  }
}
