<mat-card>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput type="number" min="" placeholder="Well Height" [formControl]="wellHeight">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput type="number" placeholder="Initial Climb" [formControl]="initialClimb">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput type="number" placeholder="Nightly Slide" [formControl]="nightlySlide">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput type="number" placeholder="Fatigue" [formControl]="fatigue">
    </mat-form-field>

    <button mat-button (click)="onClickSolve()">Solve</button>
    <h1 class="">{{result}}</h1>
  </form>
</mat-card>
