<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Snail Problem</mat-card-title>
      <mat-card-subtitle>At what day will the snail fail or succeed given the following parameters.</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form class="example-form" [formGroup]="snailForm">
        <mat-form-field class="example-full-width">
          <input matInput type="number" min="0" max="100" placeholder="Well Height" formControlName="wellHeight">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput type="number" min="0" max="100" placeholder="Initial Climb" formControlName="initialClimb">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput type="number" min="0" max="100" placeholder="Nightly Slide" formControlName="nightlySlide">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput type="number" min="0" max="100" placeholder="Fatigue" formControlName="fatigue">
        </mat-form-field>

        <div class="error" *ngIf="!snailForm.valid && !snailForm.untouched">Numbers must be between 0 - 100</div>

        <button mat-button mat-flat-button color="primary" [disabled]="!snailForm.valid" (click)="onClickSolve()">Solve</button>

        <code *ngIf="result"><pre><div class="code-comment">// Result </div>{{result}}</pre></code>
      </form>
    </mat-card-content>
  </mat-card>

</div>
